<!-- Favicon -->
<link rel="icon" type="image/svg+xml" href="/favicon.svg">

<!-- KaTeX -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.min.css"
  integrity="sha384-zh0CIslj3dQfHGBQOrfbMER9zCDTnRt64YtCBFQbJmRCaRPSdSMUre0+POWioxJz"
  crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.min.js"
  integrity="sha384-bB0AutRIBz5uf+UPXO5XUyjpJyWnGDAEuVJMx1BMLC0lPY3y1IfpJEgHo24Isojn"
  crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/contrib/auto-render.min.js"
  integrity="sha384-hCXGrKn+s6gQpUFGKx/YkfKLMtD7vaNdoFeOCUGBizwVMEykt4eR0CbC4Uo1bOsV"
  crossorigin="anonymous"
  onload="renderMathInElement(document.body, {
    delimiters: [
      {left: '$$', right: '$$', display: true},
      {left: '$', right: '$', display: false},
      {left: '\\(', right: '\\)', display: false},
      {left: '\\[', right: '\\]', display: true}
    ],
    throwOnError: false
  });"></script>
